{% extends 'base.html' %} {% load static %} {% block title %}Checkout - The
Cookie Barrel{% endblock %} {% block content %}

<!-- breadcrumb section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>The Cookie Barrel</p>
          <h1>Checkout</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- checkout section -->
<div class="checkout-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} col-lg-10 offset-lg-1">
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif %}
        <div class="checkout-accordion-wrap">
          <form action="#" method="POST">
            {% csrf_token %}
            <div class="accordion" id="accordionExample">
              <!-- Billing Address -->
              <div class="card single-accordion">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                    >
                      Billing Address
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="billing-address-form">
                      <p>
                        <input
                          type="text"
                          name="name"
                          placeholder="Name"
                          value="{{ previous_data.name }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="email"
                          name="email"
                          placeholder="Email"
                          value="{{ previous_data.email }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="tel"
                          name="phone"
                          placeholder="Phone"
                          value="{{ previous_data.phone }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          name="address"
                          placeholder="Address"
                          value="{{ previous_data.address }}"
                          required
                        />
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Shipping Address -->
              <div class="card single-accordion">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                    >
                      Shipping Address
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shipping-address-form">
                      <p>
                        <input
                          type="text"
                          name="shipping_name"
                          placeholder="Recipient Name"
                          value="{{ previous_data.shipping_name }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          name="shipping_address"
                          placeholder="Shipping Address"
                          value="{{ previous_data.shipping_address }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          name="shipping_city"
                          placeholder="City"
                          value="{{ previous_data.shipping_city }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          name="shipping_zip"
                          placeholder="Postal Code"
                          value="{{ previous_data.shipping_zip }}"
                          required
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          name="shipping_phone"
                          placeholder="Contact Number"
                          value="{{ previous_data.shipping_phone }}"
                          required
                        />
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Payment Info -->
              <div class="card single-accordion">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      type="button"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                    >
                      Payment Details
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="card-details">
                      <input
                        type="radio"
                        name="payment_method"
                        id="payment_method_cod"
                        value="cod"
                        checked
                      />
                      Cash on Delivery &nbsp;&nbsp;&nbsp;
                      <input
                        type="radio"
                        name="payment_method"
                        id="payment_method_stripe"
                        value="stripe"
                      />
                      Pay with Card
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end accordion -->
            <div class="text-center mt-4">
              <button
                type="submit"
                class="custom-btn"
                style="border: none; border-radius: 50px"
              >
                Place Order
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- Order Summary -->
      <div class="col-lg-4">
        <div class="order-details-wrap">
          <table class="order-details">
            <thead>
              <tr>
                <th>Product</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody class="order-details-body">
              <tr>
                <td>Chocolate Chip</td>
                <td>$300</td>
              </tr>
              <tr>
                <td>Oatmeal Raisin</td>
                <td>$250</td>
              </tr>
            </tbody>
            <tbody class="checkout-details">
              <tr>
                <td>Subtotal</td>
                <td>$550</td>
              </tr>
              <tr>
                <td>Shipping</td>
                <td>$50</td>
              </tr>
              <tr>
                <td>Total</td>
                <td>$600</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
