{% extends 'base.html' %} {% load static %} {% block title %}Products - The
Cookie Barrel{% endblock %} {% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Fresh and Handmade</p>
          <h1>Our Products</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- product filters -->
<div class="product-section mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }} col-lg-6 offset-lg-3">
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %} {% endif %}
        <div class="product-filters">
          <ul>
            <a
              href="{% url 'products' %}"
              style="color: {% if selected_category == cat.name %}white{% else %}black{% endif %};"
            >
              <li class="{% if not selected_category %}active{% endif %}">
                All
              </li>
            </a>
            {% for cat in categories %}
            <a
              href="{% url 'products' %}?category={{ cat.name }}"
              style="color: {% if selected_category == cat.name %}white{% else %}black{% endif %};"
            >
              <li
                class="{% if selected_category == cat.name %}active{% endif %}"
              >
                {{ cat.name }}
              </li>
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- product items -->
    <div class="row product-lists">
      {% for product in products %}
      <div
        class="col-lg-4 col-md-6 text-center {{ product.category.name|lower|slugify }}"
      >
        <div class="single-product-item">
          <a href="{% url 'product_details' product.id %}">
            <div class="product-image">
              <img src="{{ product.image.url }}" alt="{{ product.name }}" />
            </div>
            <h3>{{ product.name }}</h3>
            <p class="product-price">${{ product.price }}</p>
          </a>
          <a href="{% url 'quick_add_to_cart' product.id %}" class="cart-btn"
            ><i class="fas fa-shopping-cart"></i> Add to Cart</a
          >
        </div>
      </div>
      {% empty %}
      <div class="col-12 text-center">
        <p>No products available at the moment.</p>
      </div>
      {% endfor %}
    </div>

    <!-- pagination -->
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
          <ul>
            {% if products.has_previous %}
            <li>
              <a
                href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ products.previous_page_number }}"
                >Prev</a
              >
            </li>
            {% endif %}
            <!-- prettier-ignore -->
            {% for num in products.paginator.page_range %} 
            {% if products.number == num %}
            <li><a class="active" href="#">{{ num }}</a></li>
            {% else %}
            <li>
              <a
                href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ num }}"
                >{{ num }}</a
              >
            </li>
            {% endif %} {% endfor %} {% if products.has_next %}
            <li>
              <a
                href="?{% if selected_category %}category={{ selected_category }}&{% endif %}page={{ products.next_page_number }}"
                >Next</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
